

@font-face {
    font-family: 'dosis';
     src: url('../fonts/dosis.medium.ttf'); /* IE9 Compat Modes */
    }
 


     @font-face {
    font-family: 'wedding';
     src: url('../fonts/BaroqueScript.ttf'); /* IE9 Compat Modes */
    }      


 body{
       
  font-family: 'wedding', sans-serif;

    }

 /*general */  
 .textcenter {
  text-align: center;
 }
 .textred{
  color:#e86c6c;
 }
 .textleft {
  text-align: left;
 }
 .clear {
  clear: both;
 }


 .cover {
  background: rgba(0,0,0,.7);

  width: 100%;
  height: 100%;
   padding-top: 20px;
   padding-left: 20px;
 }

 .textwhite {
  color: #fff;
 }
 
 .container {
  position: relative;
 }
 .container::after{

   
   content: "";
 background: url(../img/Wedding-Background.png);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  

 }

 /*end general */ 
 

 /*header*/
 

 header h1 {
    color:#fff;
    font-family: wedding;


  }


   nav ul {
  list-style: none;
   font-family: wedding;
}


nav ul li {
  padding-top: 5px;
}


 nav ul li a {
  color:#fff;
  text-decoration: none;
 

 }

  nav ul li a:hover {
  color: #eee;
 }





#header .slider .flexslider {

   background: transparent;
   border: 0px;
   color:#fff;

}

.par {

   background: transparent;
   border: 1px solid #fff;
   width: 200px;
   height:40px;
   color:#fff;
   margin-top: 10px;
  font-family: 'wedding', sans-serif;

}

.size p {
  padding-left: 10px;
  padding-bottom: 10px;
}


.par:hover {
  color:#fff;
  background: #e86c6c;
  border:1px solid #e86c6c;
    -webkit-transition: background 2s; /* Safari */
    transition: background 2s;
}


 @media (max-width: 420px ) {


 header {
  background:url(../img/slide4.jpg) no-repeat ; 
  height: 500px;
  background-size: cover;
  font-size: 10px;
  

 }

 header h1 { 
 font-size: 14px;
 }

  h3 { 
 font-size: 12px;
 }

  .logo {
  width:100px;
  height: 100px;
 }
 .navbar{
  width:40px;
  height: 40px;
  background: transparent;
  color:#fff;
  border: 1px solid #fff;

}





 nav {
 font-size: 10px;
 text-align: left;
 display: none;
 position: absolute;
    z-index: 1000;
 

 }
 #header .slider .flexslider ul.slides{

        padding-top:200px;
      }


.par {

 
   width: 120px;
   height:30px;
   font-size: 10px;

  

}




 }

   @media (max-width:575px) and (min-width:421px) {
     
    header {
      background:url(../img/slide5.jpg) no-repeat ; 
      height: 430px;
      background-size: cover;
      font-size: 10px;
       }

 header h1 { 
 font-size: 16px;
 }

 

 

 .navbar{
  width:50px;
  height: 50px;
  background: transparent;
  color:#fff;
  border: 1px solid #fff;


 }
   
   nav {
   display: none;
  position: absolute;
    z-index: 1000;
    
     /* transition: display 2s;
    -webkit-transition: display 2s; /* Safari 3.1 to 6.0 */

 }

#header .slider .flexslider ul.slides{

        padding-top:150px;
      }
      


.par {
    width: 161px;
    height: 35px;
    font-size: 11px;
}


 }


  @media (max-width:767px) and (min-width:576px) {

  

   header {
    background:url(../img/slide5.jpg) no-repeat ; 
    height: 450px;
    background-size: cover;
    font-size: 12px;
     }


   .navbar{
    width:50px;
    height: 50px;
    background: transparent;
    color:#fff;
    border: 1px solid #fff;


   }
   
   nav {
   display: none;
   position: absolute;
    z-index: 1000;
  }

#header .slider .flexslider ul.slides{

        padding-top:140px;
      }
      
 




.par {
    width: 161px;
    height: 35px;
    font-size: 11px;
}



 }


   @media (max-width:991px) and (min-width:768px) {


     

     header {
      background:url(../img/slide5.jpg) no-repeat ; 
      height: 500px;
      background-size: cover;
     
       }


    header h1 {
      font-size: 14px;
    }

       nav ul li {
       display: inline-block;
       margin-left: 10px;
       padding-top: 0px;

        }

      .navbar{
       display: none}

       #header .slider .flexslider ul.slides{

        padding-top:200px;
      }
      


    .par {
    width: 180px;
    height: 35px;
    font-size: 12px;
   }


 nav ul li {
       display: inline-block;
       margin-left: 10px;
       padding-top: 0px;
       font-size: 11px;

        }



   }


    @media (max-width:1999px) and (min-width:992px) { 

      header {
      background:url(../img/slide5.jpg) no-repeat ; 
      height: 600px;
      background-size: cover;
     
       }


    header h1 {
      font-size: 14px;
    }

       nav ul li {
       display: inline-block;
       margin-left: 15px;
       padding-top: 0px;
       font-size: 12px;

        }

      .navbar{
       display: none}



       #header .slider .flexslider ul.slides{

        padding-top:280px;
      }


      


      .slider p {

        padding-left: 20px;
        padding-right: 20px; 

            }  


    .par {
    width: 180px;
    height: 35px;
    font-size: 12px;
   }




    }


    @media (min-width: 1200px) { /*Large Computer*/

           header {
      background:url(../img/slide5.jpg) no-repeat ; 
      height: 630px;
      background-size: cover;
     
       }


    header h1 {
      font-size: 20px;
    }

       nav ul li {
       display: inline-block;
       margin-left: 30px;
       padding-top: 0px;

        }

      #header .slider .flexslider ul.slides{

        padding-top:320px;
      }

      .navbar{
       display: none}



    .par {
    width: 180px;
    height: 40px;
    font-size: 12px;
    border-radius: 5px;
   }

  }

 /*header*/

 /*about us section*/

  #about_us{
     padding: 15px;
     text-align: left;

   
  }


  .img img{
  width: 98%;
 }

 .read_more{
  width: 160px;
  height: 45px;
  background: #e86c6c;
  border: 1px solid #e86c6c;
  color:#fff;
   font-family: wedding;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px  20px   50px  30px;

 }

 .read_more:hover {

  background: #f93777;
 }


@media (max-width: 420px ) { 
  #about_us{
     font-size: 10px;
  }

}

 @media (max-width:767px) and (min-width:421px) {
   #about_us{
     font-size: 12px;
  }

 }

 @media (max-width:991px) and (min-width:768px) {
  #about_us{
     font-size: 14px;

  }


 }


  @media (min-width: 1200px) { /*Large Computer*/ 

 #about_us {
  padding-top: 20px;
  height: 500px;
 }


  }








 /*about us section */
 /*gallaery*/
 #gallary{
  margin-top:20px;
  padding:15px;


 }

 


 .gallary  {
  position: relative;
  margin-left: 2px

}

.gallary   .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
.gallary:hover .overlay {
  opacity: .6;
}


@media (max-width: 420px ) {

  #gallary {
     font-size: 10px;
  }

 .Products {
  
  margin-bottom: 10px;



 }

 .gallary  {
 
  margin-left: 5px

}

 .Products img {
  width: 100%;
 

 
 }

 .center p {
    padding:  20px;


  }
}


  @media (max-width:575px) and (min-width:421px) {

      #gallary {
     font-size: 12px;
  }

  .gallary  {
 
  margin-left: 5px

}


    .Products {
 
  margin-bottom: 10px;
  
 

 }
 .Products img {
  width: 100%;
  

 }

  .center p {
    padding:  20px;


  }


}


 @media (max-width:767px) and (min-width:576px) { 


      #gallary {
     font-size: 12px;
  }

  .gallary  {
 
  margin-left: 5px

}


    .Products {
 
  margin-bottom: 10px;
  
 

 }
 .Products img {
  width: 100%;
  

 }

  .center p {
    padding:  20px;


  }



 }


   @media (max-width:991px) and (min-width:768px) {

        #gallary {
     font-size: 12px;
  }

  .gallary  {
 
  margin-left: 5px

}


    .Products {
 
  margin-bottom: 10px;
  
 

 }
 .Products img {
  width: 100%;
  

 }

  .center p {
    padding:  20px;


  }



   }


       @media (max-width:1999px) and (min-width:992px) {  


               #gallary {
     font-size: 12px;
  }

  .gallary  {
 
  margin-left: 5px

}


    .Products {
 
  margin-bottom: 10px;
  
 

 }
 .Products img {
  width: 100%;
  

 }

  .center p {
    padding:  20px;


  }




       }


   @media  (min-width:1200px) {  

                  #gallary {
     font-size: 12px;
  }

  .gallary  {
 
  margin-left: 5px

}


    .Products {
 
  margin-bottom: 10px;
  
 

 }
 .Products img {
  width: 100%;
  

 }

  .center p {
    padding:  20px;


  }

   

   }      


 /*gallary_view*/

 #gallary_view {
  padding-top: 20px;

 }

#our_dresses {
  margin-top: 50px;

  background: url('../img/dresses-price.jpg');
  background-size: 100% 100%;
  height: 430px;
 


}

 #our_dresses .flexslider  {
  width : 220px;
  height: 300px;

  
  background: transparent;
  border: 0px;
  margin:10px auto 0px;
 }

 .flexslider .slides img {

 }



 @media (max-width: 420px ) { 
   #gallary_view {
    height:400px;
  }


  #our_dresses {
  margin-top: 50px;

  background: url('../img/dresses-price.jpg');
  background-size: 100% 100%;
  height: 260px;
 

}


#our_dresses .flexslider  {
  width : 150px;
  height: 130px;

  
  background: transparent;
  border: 0px;
  margin:10px auto 0px;
 }

 }

 @media (max-width:575px) and (min-width:421px) {
   #gallary_view {
    height:400px;
  }


  #our_dresses {
  margin-top: 50px;

  background: url('../img/dresses-price.jpg');
  background-size: 100% 100%;
  height: 260px;
 

}


#our_dresses .flexslider  {
  width : 150px;
  height: 130px;

  
  background: transparent;
  border: 0px;
  margin:10px auto 0px;
 }

 }
 /*gallary_view */

 /* our team*/



.customer {
  padding: 40px;
}

@media (max-width: 420px ) { /*Mobile*/


   #our_customer img {
 
  width:30%;
  border-radius: 50%;

 }

 #our_customer p {
font-size: 10px;

 }

.our_customer {
  padding-top: 30px;
  padding-bottom: 30px;
} 


 #our_customer {
margin: 20px auto 0px;
text-align: center;

height: 1300px;
padding-top: 40px;

 }

}



@media (max-width:575px) and (min-width:421px) { 



   #our_customer img {
 
  width:30%;
  border-radius: 50%;

 }

 #our_customer p {
font-size: 12px;

 }

.our_customer {
  padding-top: 30px;
  padding-bottom: 30px;
} 


 #our_customer {
margin: 20px auto 0px;
text-align: center;

height: 1790px;
padding-top: 60px;

 }


}


 @media (max-width:767px) and (min-width:576px) {


    #our_customer img {
 
  width:45%;
  border-radius: 50%;

 }

 #our_customer p {
font-size: 10px;

 }

.our_customer {
  padding-top: 50px;
  padding-bottom: 30px;
} 


 #our_customer {
margin: 20px auto 0px;
text-align: center;

height: 990px;
padding-top: 40px;

 }




 }

  @media (max-width:991px) and (min-width:768px) {

 


    #our_customer img {
 
  width:40%;
  border-radius: 50%;

 }

 #our_customer p {
font-size: 10px;

 }

.our_customer {
  padding-top: 30px;
  padding-bottom: 30px;
} 


 #our_customer {
margin: 20px auto 0px;
text-align: center;

height: 950px;
padding-top: 40px;

 }




  }

   @media (max-width:1999px) and (min-width:992px) {

 

  #our_customer {
margin: 20px auto 0px;
text-align: center;

height: 650px;
padding-top: 20px;

 }

 #our_customer img {
 
  width:60%;
  border-radius: 50%;

 }

 #our_customer p {
font-size: 10px;

 }

.our_customer {
  padding-top: 40px;
  padding-bottom: 30px;
} 


.customer {
  padding: 20px;
}
    

    }

    @media (min-width: 1200px) {

       #our_customer {
margin: 20px auto 0px;
text-align: center;

height: 680px;
padding-top: 40px;

 }

 #our_customer img {
 
  width:50%;
  border-radius: 50%;

 }

 #our_customer p {
font-size: 12px;

 }

.our_customer {
  padding-top: 30px;
  padding-bottom: 30px;
} 

.customer {
  padding: 40px;
}


    }
 /**/

 /*  contact us*/
 #contact_us{
margin: 117px auto 0px;
background: rgba(0,0,0,.7);
height: 500px;
padding-top: 40px;

 }
.contact {
margin: 20px auto;
width: 40%;

}
.contact input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 40px;
 margin-top: 15px;
}


.contact input[type="text"], .contact input[type="email"] {
  font-family: wedding;
  font-size: 14px;
  padding-top: 0px;
  padding-left: 40px;
  color: peru;
}
.contact textarea{
  width: 100%;
   font-family: wedding;
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 150px;
  margin-top: 15px;
}
@media (max-width: 420px ) {
   .contact {
width: 60%;

}

.contact input[type="text"], .contact input[type="email"] {

  font-size: 12px;
  padding-left: 20px;
  
}

}
@media (max-width:575px) and (min-width:421px) {
    .contact {
width: 60%;

}
}

@media (max-width:767px) and (min-width:576px) {
  .contact {
width: 60%;

}

}

@media (max-width:991px) and (min-width:768px) {
.contact {
width: 60%;

}



}

@media (max-width:1999px) and (min-width:992px) {
.contact {
width: 45%;

}

}

@media (min-width: 1200px) {
.contact {
width: 45%;

}

}

 /**/
 /*footer */


 .social{
  padding-right: 20px;

}
  .social li{
    display: inline;
  }
  .social li a{
    color: #f93777;
  }
  .copy{
    padding-left: 20px;
  }
  .right{
    text-align: right;
  }
  .left{
    text-align: left;
  }

  

 footer {
 height: 60px;
  background: #e86c6c;
 color: #fff;
padding-top: 10px;
 text-align: center;

 }

.copy {
  font-family: 'sans-serif'

}
.social li a span{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #FFF;
    font-size: 20px;
  }
  .social li a span:hover{
    color:#fff;
    background: #f93777;
     -webkit-transition: color 2s; /* Safari */
    transition: color 2s;
    -webkit-transition: background 2s; /* Safari */
    transition: background 2s;
    border: 1px solid #f93777;
  }

@media (max-width: 420px ) { 

   footer p {
    font-size: 10px;
     padding-top: 10px;
     text-align: center;
     
     
  }
  .social{
    text-align: center;
  }

  .social li a span{

    font-size: 12px;
  }
  
   footer {
   
 height: 100px;
 
}

 }

 @media (max-width:575px) and (min-width:421px) {
    
     footer p  {
    font-size: 10px;
     padding-top: 10px;
     text-align: center;
  }
  .social{
    text-align: center;
  }
  .social li a span{

    font-size: 12px;
  }

  footer {

 height: 100px;

}
  

 }

 @media (max-width:767px) and (min-width:576px) {
  footer p{
    font-size: 12px;
  }
   .social li a span{

    font-size: 12px;
  }
 }

 /*footer */